---
import Layout from "@layouts/Layout.astro";
import GreetingCard from "@components/GreetingCard.astro";
---

<Layout>
  <main class="hero min-h-[85vh] bg-base-100 text-base-content">
    <GreetingCard />
  </main>
</Layout>
