---
import Layout from "@layouts/Layout.astro";
import GreetingCard from "@components/GreetingCard.astro";
---

<Layout>
  <main class="hero min-h-screen bg-primary-content text-primary">
    <GreetingCard />
  </main>
</Layout>
