---
export const partial = true;

export function getStaticPaths() {
  var validRoutes = [];
  var a = [...Array(101).keys()].map((a) => a.toString());
  a.forEach(function (entry) {
    var route = {};
    route["params"] = { greeting_id: entry };
    validRoutes.push(route);
  });
  return validRoutes;
}
const greetings_set = [
  "Hallo", // Afrikaans
  "Përshëndetje", // Albanian
  "እው ሰላም ነው", // Amharic
  "مرحبًا", // Arabic
  "Barev", // Armenian
  "Kamisaki", // Aymara
  "Salam", // Azerbaijani
  "Kaixo", // Basque
  "Вітаю", // Belarusian
  "হ্যালো", // Bengali
  "Zdravo", // Bosnian
  "Здравейте", // Bulgarian
  "ဟယ်လို", // Burmese
  "你好", // Cantonese
  "Hola", // Catalan
  "Kamusta", // Cebuano
  "Moni", // Chichewa
  "Bonghjornu", // Corsican
  "Zdravo", // Croatian
  "Ahoj", // Czech
  "Hej", // Danish
  "Hallo", // Dutch
  "Hello", // English
  "Tere", // Estonian
  "Hello", // Ewe
  "سلام", // Farsi (Persian)
  "Bula", // Fijian
  "Kumusta", // Filipino
  "Hei", // Finnish
  "Bonjour", // French
  "Dia dhuit", // Gaelic (Irish)
  "Ola", // Galician
  "გამარჯობა", // Georgian
  "Guten tag", // German
  "γεια", // Greek
  "Mba'éichapa", // Guarani
  "Bonjou", // Haitian Creole
  "Aloha", // Hawaiian
  "שלום", // Hebrew
  "नमस्ते", // Hindi
  "Nyob zoo", // Hmong
  "Szia", // Hungarian
  "Halló", // Icelandic
  "Ndewo", // Igbo
  "Hello", // Ilocano
  "Halo", // Indonesian
  "Ciao", // Italian
  "こんにちは", // Japanese
  "Сәлеметсіз бе", // Kazakh
  "សួស្តី", // Khmer
  "Mwaramutse", // Kinyarwanda
  "안녕하세요", // Korean
  "Slav", // Kurdish
  "ສະບາຍດີ", // Lao
  "Salve", // Latin
  "Sveika or Sveiks", // Latvian
  "Sveiki", // Lithuanian
  "Moien", // Luxembourgish
  "Salama", // Malagasy
  "Selamat pagi", // Malay
  "Bongu", // Maltese
  "你好", // Mandarin
  "Kia ora", // Maori
  "नमस्कार", // Marathi
  "сайн уу", // Mongolian
  "Niltze Tialli Pialli", // Nahuatl
  "Ya’at’eeh", // Navajo
  "नमस्कार", // Nepali
  "Hei", // Norwegian
  "سلام", // Pashto
  "Cześć", // Polish
  "Olá", // Portuguese
  "ਸਤ ਸ੍ਰੀ ਅਕਾਲ", // Punjabi
  "Akkam", // Oromo
  "Allianchu", // Quechua
  "Bunâ", // Romanian
  "Привет", // Russian
  "Talofa", // Samoan
  "Thobela", // Sepedi
  "Здраво", // Serbian
  "Dumela", // Sesotho
  "Ahoj", // Slovak
  "Zdravo", // Slovenian
  "Hello", // Somali
  "Hola", // Spanish
  "Jambo", // Swahili
  "Hallå", // Swedish
  "Kamusta", // Tagalog
  "Ia Orana", // Tahitian
  "Li-hó", // Taiwanese
  "வணக்கம்", // Tamil
  "สวัสดี", // Thai
  "Tashi delek", // Tibetan
  "Mālō e lelei", // Tongan
  "Avuxeni", // Tsonga
  "Merhaba", // Turkish
  "привіт", // Ukrainian
  "السلام عليكم", // Urdu
  "Salom", // Uzbek
  "Xin chào", // Vietnamese
  "Molo", // Xhosa
];

const { greeting_id } = Astro.params;
---

<h1 id="greeting" class="text-5xl font-bold" hx-swap-oob="true">
  {greetings_set[greeting_id]}
</h1>
